@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: black;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

.icon-small {
  width: 50px !important;
  height: 50px !important;
}

@media (min-width: 992px) {
  .icon-lg {
    width: 100px !important;
    height: 100px !important;
  }
}
